

body{
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #02061A;

}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}
header{
    width: 1065px;
    height: 125px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    max-inline-size: 1065px;
    margin-top: 102px;
}
.logo{
    width:60%;
}
.nolog{
    width: 40%;

}
.logo ul a {
    color: #FFF;
    font-family: Outfit,serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
    margin-right: 550px;
}
nav ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.nolog a{
    margin-left: 40px;
}
header nav ul a{
    text-decoration: none;
    color: #FFF;
    transition: 0.5s;
    font-size: 18px;
}
header nav ul a:hover{
    color: rgb(126, 185, 227);
    transition: 1s;
}

/*......///////////////lion//////////////////.....*/